name: eurobot-2026-main

services:
  main-build:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ROS_DISTRO: humble
        USER_UID: ${USER_UID:-1001}
        USER_GID: ${USER_GID:-1001}
        ENABLE_VNC: "false"
    image: &IMG_NAME eurobot-2026-main:latest
    container_name: eurobot-2026-main-build
    hostname: eurobot-main
    command: &CMD_BUILD /bin/bash -c "cd /home/main/eurobot-2026-main-ws && colcon build --symlink-install"
    tty: true
    network_mode: host
    ipc: host
    privileged: true
    stop_grace_period: &STOP_GRACE_PERIOD 1s

    volumes: &VOLUMES
      - ../:/home/main/eurobot-2026-main-ws/
      - /dev:/dev
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/.Xauthority:/home/main/.Xauthority 
      - /home/share:/home/share
      - /tmp/.X11-unix:/tmp/.X11-unix

    working_dir: &WORKING_DIR
      /home/main/eurobot-2026-main-ws

    environment: &ENV
      - RCUTILS_COLORIZED_OUTPUT=1
      - XAUTHORITY=/home/main/.Xauthority
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}

  main-develop:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ROS_DISTRO: humble
        USER_UID: ${USER_UID:-1001}
        USER_GID: ${USER_GID:-1001}
        ENABLE_VNC: "false"
    image: *IMG_NAME
    container_name: eurobot-2026-main-dev
    hostname: eurobot-main
    command: /bin/bash
    tty: true
    network_mode: host
    ipc: host
    privileged: true
    stop_grace_period: *STOP_GRACE_PERIOD
    stdin_open: true

    volumes: *VOLUMES
    working_dir: *WORKING_DIR
    environment: *ENV
    
  main-vnc:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ROS_DISTRO: humble
        USER_UID: ${USER_UID:-1001}
        USER_GID: ${USER_GID:-1001}
        ENABLE_VNC: "true"
    image: eurobot-2026-main:vnc
    container_name: eurobot-2026-main-vnc
    hostname: eurobot-vnc
    command: /bin/bash -c "cd /home/main/eurobot-2026-main-ws && ./docker/scripts/vnc/start-vnc.sh"
    tty: true
    stdin_open: true
    ports:
      - "${VNC_PORT:-5902}:5902"
    privileged: true
    ipc: host
    stop_grace_period: *STOP_GRACE_PERIOD
    
    environment:
      - VNC_PASSWORD=${VNC_PASSWORD:-ros}
      - DISPLAY=:2
      - QT_X11_NO_MITSHM=1
      - RCUTILS_COLORIZED_OUTPUT=1
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
    
    volumes:
      - ../:/home/main/eurobot-2026-main-ws/
      - /home/share:/home/share
      - /dev:/dev
    
    working_dir: /home/main/eurobot-2026-main-ws